INSERT INTO `icingaweb_group` VALUES (1,'{{ icinga2_web2_admin_role }}',NULL,'2016-01-01 00:00:00',NULL);
INSERT INTO `icingaweb_group_membership` VALUES (1,'{{ icinga2_web2_admin_username }}','2016-01-01 00:00:00',NULL);
INSERT INTO `icingaweb_user` VALUES ('{{ icinga2_web2_admin_username }}',1,'{{ icinga2_web2_admin_password_hash }}','2016-01-01 00:00:00',NULL);
