# {{ ansible_managed }}

library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icinga2_ido_db_user }}"
  password = "{{ icinga2_ido_db_pass }}"
  host = "{{ icinga2_ido_db_host }}"
  database = "{{ icinga2_ido_db }}"
  table_prefix = "icinga_"
  instance_name = "icinga2"
  instance_description = "icinga2 instance"

  cleanup = {
    downtimehistory_age = 48h
    logentries_age = 31d
  }

  categories = DbCatConfig | DbCatState
}
