# {{ ansible_managed }}

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga2_ido_db_user }}"
  password = "{{ icinga2_ido_db_pass }}"
  host = "{{ icinga2_ido_db_host }}"
  database = "{{ icinga2_ido_db }}"
}
